<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="https://unpkg.com/bootstrap/dist/css/bootstrap.min.css">
    <script src="https://unpkg.com/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  </head>

  <body>
    <div class='container' id='app'>
      <h1>{{ host }}</h1>
      <rf-repository  v-for='repository in repositories' :repository="repository"></rf-repository>
    </div>
  </body>

  <script type="text/x-template" id="repository-template">
    <div class="panel panel-default container-fluid">
      <div class="panel-heading row">
        <div v-if="opened" class="col-xs-6"><span class="glyphicon glyphicon-folder-open"></span> {{ repository }}</div>
        <div v-else class="col-xs-6"><span class="glyphicon glyphicon-folder-close"></span> {{ repository }}</div>
        <div class="col-xs-6 text-right">
          <a v-if="opened" v-on:click="close" class="btn btn-xs btn-default"><span class="glyphicon glyphicon-chevron-up"></span></a>
          <a v-else v-on:click="open" class="btn btn-xs btn-default"><span class="glyphicon glyphicon-chevron-down"></span></a>
        </div>
      </div>
      <div v-if="opened" class="list-group">
        <div v-if="!loaded" class="list-group-item">Loading</div>
        <div v-if="loaded && manifests.length == 0" class="list-group-item">Empty</div>
        <div v-for="manifest in manifests" class="list-group-item row">
          <div class="col-xs-3"><span v-for="tag in manifest.tags" class="badge"><span class="glyphicon glyphicon-tag"></span> {{ tag }}</span></div>
          <div class="col-xs-3"><span class="glyphicon glyphicon-list"></span> {{ manifest.layers.length }} layers</div>
          <div class="col-xs-3"><span class="glyphicon glyphicon-compressed"></span> {{ manifest.size | bytestomb }} MB</div>
          <div class="col-xs-3 text-right"><a v-on:click="removeManifest(manifest.digest)" class="btn btn-xs btn-danger"><span class="glyphicon glyphicon-erase"></span></a></div>
        </div>
      </div>
    </div>
  </script>

  <script>
    Vue.filter('bytestomb', function (value) {
      return (value / 1000000).toFixed(2)
    })

    Vue.component('rf-repository', {
      props: ['repository'],
      data: function () { return {
        opened: false,
        loaded: false,
        pendingRequests: 0,
        manifests: []
      }},
      template: '#repository-template',
      methods: {

        open: function () {
          this.opened = true
          this.pendingRequests = 1
          axios.get('/v2/' + this.repository + '/tags/list').then((res) => {
            if (res.data.tags == null) {
              this.pendingRequests = 0
              this.loaded = true
              return
            }
            var manifestsByDigest = {}
            this.pendingRequests = res.data.tags.length
            res.data.tags.forEach((tag) => {
              axios.get('/v2/' + this.repository + '/manifests/' + tag, {
                headers: {
                  'accept': 'application/vnd.docker.distribution.manifest.v2+json',
                  'if-none-match': null
                }
              }).then((res) => {
                console.log(res)
                var digest = res.headers['docker-content-digest']
                manifestsByDigest[digest] = manifestsByDigest[digest] || {
                  digest: digest,
                  tags: [],
                  layers: res.data.layers,
                  size: res.data.layers.reduce((a, l) => { return a + l.size }, 0)
                }
                manifestsByDigest[digest].tags.push(tag)
                
                if (--this.pendingRequests <= 0) {
                  for (digest in manifestsByDigest) { this.manifests.push(manifestsByDigest[digest]) }
                  this.loaded = true
                }
              })
            })
          })
        },

        close: function () {
          this.opened = false
          this.loaded = false
          this.manifests = []
        },

        removeManifest: function(digest) {
          axios.delete('/v2/' + this.repository + '/manifests/' + digest).then((res) => {
            this.manifests = this.manifests.filter((m) => { return m.digest != digest })
          })
        }

      }
    })

    var app = new Vue({
      el: '#app',
      data: {
        host: document.location.hostname,
        repositories: []
      },
      methods: {
        loadRepositories: function () {
          axios.get('/v2/_catalog').then((res) => {
            this.repositories = res.data.repositories
          })
        }
      }
    })

    app.loadRepositories()
  </script>
</html>
