<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="https://unpkg.com/bootstrap/dist/css/bootstrap.min.css">
    <script src="https://unpkg.com/vue/dist/vue.min.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <style>
      .navbar { margin-top: 20px }
      .input-group-xs input { font-size: 12px ; height: 24px }
      .input-group-xs.has-feedback input { padding-right: 30px }
      .input-group-xs .form-control-feedback { font-size: 12px ; color: #333 ; width: 24px ; height: 24px ; line-height: 2.2 }
    </style>
  </head>

  <body>
    <div class="container" id='app'>
      <div class="navbar navbar-default">
        <div class="container-fluid">
          <div class="navbar-header navbar-brand"><rf-glyph icon="book"></rf-glyph> {{ host }}</div>
          <form class="navbar-form navbar-right">
            <rf-filterinput v-model="repositoryFilter" icon="folder-close"></rf-filterinput>
            <rf-glyphbutton :click="loadRepositories" icon="refresh"></rf-glyphbutton>
          </form>
        </div>
      </div>

      <rf-description></rf-description>

      <div v-for="error in errors" class="alert alert-danger">
        <b>{{ error.title }}:</b> {{ error.message }} <button v-on:click="dismissError(error)" class="close">&times</button>
      </div>

      <rf-repository  v-for='repository in filteredRepositories' :repository="repository"></rf-repository>

      <div v-if="filteredRepositories.length == 0" class="panel panel-default">
        <div class="panel-body"><rf-glyph icon="info-sign"></rf-glyph> No repositories</div>
      </div>
    </div>
  </body>

  <script type="text/x-template" id="description-template">
      <div v-if="html" class="panel panel-info">
        <div class="panel-body" v-html="html"></div>
      </div>
  </script>

  <script type="text/x-template" id="repository-template">
    <div class="panel panel-default">
      <div class="panel-heading panel-title">
        <div class="row">
          <div class="col-xs-4"><rf-glyph :icon="opened ? 'folder-open' : 'folder-close'"></rf-glyph> {{ repository }}</div>
          <div class="col-xs-8 text-right">
            <form class="form-inline">
              <rf-filterinput v-if="loaded" v-model="tagfilter" icon="tag" size="xs"></rf-filterinput>
              <rf-glyphbutton v-if="loaded" :click="unfold" icon="refresh" size="xs"></rf-glyphbutton>
              <rf-glyphbutton :click="toggle" :icon="opened ? 'chevron-up' : 'chevron-down'" size="xs"></rf-glyphbutton>
            </form>
          </div>
        </div>
      </div>
      <div v-if="opened" class="list-group">
        <div v-if="!loaded" class="list-group-item"><rf-glyph icon="hourglass"></rf-glyph> Loading manifests</div>
        <div v-if="loaded && filteredManifests.length == 0" class="list-group-item"><rf-glyph icon="info-sign"></rf-glyph> Nothing to show</div>
        <rf-manifest v-for="manifest in filteredManifests" :manifest="manifest" :repository="repository" v-on:deleted="unfold"></rf-manifest>
      </div>
    </div>
  </script>

  <script type="text/x-template" id="manifest-template">
    <div class="list-group-item">
      <div class="row">
        <div class="col-xs-4">
          <span v-for="tag in manifest.tags" class="badge"><rf-glyph icon="tag"></rf-glyph> {{ tag }}</span>
        </div>
        <div class="col-xs-2">
          <rf-glyph icon="list"></rf-glyph> {{ manifest.layers.length }} layers
        </div>
        <div class="col-xs-2">
          <rf-glyph icon="compressed"></rf-glyph> {{ manifest.size | bytestomb }} MB
        </div>
        <div class="col-xs-4 text-right">
          <rf-warningglyphbutton :click="remove" look="danger" icon="erase" warning="Really remove this image?"></rf-warningglyphbutton>
        </div>
      </div>
    </div>
  </script>

  <script type="text/x-template" id="filterinput-template">
    <div :class="'input-group input-group-' + size + ' has-feedback ' + (valid ? '' : 'has-error')">
      <input :value="value" v-on:input="$emit('input', $event.target.value)" type="text" class="form-control" placeholder="regexp">
      <span :class="'glyphicon form-control-feedback glyphicon-' + icon"></span>
    </div>
  </script>

  <script type="text/x-template" id="glyphbutton-template">
    <a v-on:click="_click" :class="'btn btn-' + size + ' btn-' + look">
      <rf-glyph :icon="icon"></rf-glyph><slot></slot>
    </a>
  </script>
 
  <script type="text/x-template" id="warningglyphbutton-template">
    <span>
      <div v-if="requested" :class="'label label-' + look"><rf-glyph icon :icon="icon"></rf-glyph> {{ warning }}</div>
      <rf-glyphbutton v-if="requested" :click="confirm" icon="ok" :look="look" size="xs"></rf-glyphbutton>
      <rf-glyphbutton v-if="requested" :click="cancel" icon="remove" :look="look" size="xs"></rf-glyphbutton>
      <rf-glyphbutton v-if="!requested" :click="request" :icon="icon" :look="look" size="xs"></rf-glyphbutton>
    </span>
  </script>

  <script>
    Vue.filter('bytestomb', function (value) {
      return (value / 1000000).toFixed(2)
    })

    Vue.component('rf-glyph', {
      props: ['icon'],
      template: '<span :class="\'glyphicon glyphicon-\' + icon"></span>'
    })

    Vue.component('rf-filterinput', {
      props: {
        value: { type: String },
        icon: { type: String, default: 'filter' },
        size: { type: String }
      },
      computed: {
        valid: function () {
          try {
            new RegExp(this.value)
            return true
          } catch (e) {
            return false
          }
        }
      },
      template: '#filterinput-template'
    })

    Vue.component('rf-glyphbutton', {
      props: {
        icon: { type: String, required: true },
        look: { type: String, default: 'default' },
        click: { type: Function },
        size: { type: String }
      },
      methods: {
        _click: function () { if (this.click) { this.click() } }
      },
      template: '#glyphbutton-template'
    })

    Vue.component('rf-warningglyphbutton', {
      props: {
        icon: { type: String, required: true },
        look: { type: String, default: 'default' },
        click: { type: Function, required: true },
        warning: { type: String, default: 'Are you sure?' }
      },
      data: function () { return {
        requested: false
      }},
      methods: {
        request: function () {
          this.requested = true 
        },
        confirm: function () {
          this.click()
          this.requested = false
        },
        cancel: function () {
          this.requested = false
        }
      },
      template: '#warningglyphbutton-template'
    })

    Vue.component('rf-description', {
      data: function () { return {
        html: null
      }},
      template: '#description-template',
      mounted: function () {
        axios.get(
          '/description.html'
        ).then((res) => {
          this.html = res.data
        }).catch((err) => { 
          console.log('No description found. This is probably ok, unless you expected one to be there.')
        })
      }
    })

    Vue.component('rf-manifest', {
      props: ['manifest', 'repository'],
      template: '#manifest-template',
      methods: {
        remove: function() {
          axios.delete(
            '/v2/' + this.repository + '/manifests/' + this.manifest.digest
          ).then((res) => {
            this.$emit('deleted')
          }).catch((err) => { 
            bus.$emit('error', {title: 'Failed to delete manifest for ' + this.repository, message: err.message}) 
          })
        }
      }
    })

    Vue.component('rf-repository', {
      props: ['repository'],
      data: function () { return {
        opened: false,
        loaded: false,
        pendingRequests: 0,
        tagfilter: '',
        manifests: []
      }},
      computed: {
        filteredManifests: function () {
          try {
            var re = new RegExp(this.tagfilter)
            return this.manifests.filter((m) => m.tags.some((t) => t.match(re)) )
          } catch (e) {
            return []
          }
        }
      },
      template: '#repository-template',
      mounted: function () {
        if (window.location.hash == '#' + this.repository) {
          window.scroll(0, this.$el.offsetTop)
          this.unfold()
        }
      },
      methods: {
        unfold: function () {
          window.location.href = '#' + this.repository
          this.manifests = []
          this.loaded = false
          this.opened = true
          this.pendingRequests = 1
          axios.get(
            '/v2/' + this.repository + '/tags/list'
          ).then((res) => {
            if (res.data.tags == null) {
              this.pendingRequests = 0
              this.loaded = true
              return
            }
            var manifestsByDigest = {}
            this.pendingRequests = res.data.tags.length
            res.data.tags.forEach((tag) => {
              axios.get(
                '/v2/' + this.repository + '/manifests/' + tag, 
                {
                  headers: {
                    'accept': 'application/vnd.docker.distribution.manifest.v2+json',
                    'if-none-match': null
                  }
                }
              ).then((res) => {
                var digest = res.headers['docker-content-digest']
                manifestsByDigest[digest] = manifestsByDigest[digest] || {
                  digest: digest,
                  tags: [],
                  layers: res.data.layers,
                  size: res.data.layers.reduce((a, l) => { return a + l.size }, 0)
                }
                manifestsByDigest[digest].tags.push(tag)
                if (--this.pendingRequests <= 0) {
                  for (digest in manifestsByDigest) { this.manifests.push(manifestsByDigest[digest]) }
                  this.loaded = true
                }
              }).catch((err) => {
                bus.$emit('error', {title: 'Failed to load manifest for ' + this.repository + ':' + tag, message: err.message})
              })
            })
          }).catch((err) => {
            bus.$emit('error', {title: 'Failed to load tag list for ' + this.repository, message: err.message})
          })
        },
        fold: function () {
          this.opened = false
          this.loaded = false
          this.manifests = []
        },
        toggle: function () {
          if (this.opened) {
            this.fold()
          } else {
            this.unfold()
          }
        }
      }
    })

    bus = new Vue()

    var app = new Vue({
      el: '#app',
      data: {
        host: document.location.hostname,
        repositories: [],
        errors: [],
        repositoryFilter: ''
      },
      computed: {
        filteredRepositories: function () {
          try {
            var re = new RegExp(this.repositoryFilter)
            return this.repositories.filter((r) => r.match(re))
          } catch (e) {
            return []
          }
        }
      },
      created: function () {
        bus.$on('error', (err) => {
          this.errors.push(err)
        })
      },
      methods: {
        loadRepositories: function () {
          axios.get(
            '/v2/_catalog'
          ).then((res) => {
            this.repositories = res.data.repositories 
          }).catch((err) => { 
            bus.$emit('error', {title: 'Failed to load repository list', message: err.message}) 
          })
        },
        dismissError: function (err) {
          this.errors.splice(this.errors.indexOf(err), 1)
        }
      }
    })

    app.loadRepositories()
  </script>
</html>
